body {
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    margin: 0;
}

body.fondo2 {
    background-image: url("../img/fondo2.jpg");
}

::-webkit-scrollbar {
    display: none;
}

::-moz-scrollbar {
    display: none;
}

.container {
    max-width: 1400px;
    margin: auto;
}


#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    background-image: linear-gradient(rgb(7, 15, 97),
            #22323d)
}



.menu {
    list-style: none;
    background-color: #1a1818;
    max-width: 100%;
    white-space: nowrap;
    margin: 0;
}

.menu li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1.875rem;
    align-self: 0px;
    display: block;
}

.menu li {
    display: inline-block;
    text-align: center;

}

.menu li a:hover {
    background: #a1a1a1;

}

.item-r {
    float: right;
}

.banner {
    width: 100%;
    min-height: 100vh;
    background: url(../img/laptop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.banner h2 {
    color: rgb(24. 22. 22);
    font-size: 2.5rem;
    text-align: center;
    padding-top: 20px;
}

.APARTADOS {
    color: rgb(24. 22. 22);
    font-size: 2.5rem;
    position: absolute;
    right: 2.5rem;
    top: 20%;
    text-shadow: 2px 1px 2px white;
}

.content {

    text-align: center;
    width: 100%;
}

.mxw800p {
    background: #9ec0c0;
    /*height: auto;
   width: auto;*/
}

h3 {
    font-size: 2.5rem;
    font-weight: 200;
    margin-bottom: px;
}

p {
    font-size: 100%;
    font-weight: 300;
    margin-bottom: 1.25rem;
}

.h2 {
    font-size: 0.1875rem;
}

.imagen1 {
    width: 80%;
    object-fit: contain;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
    transition: 0.5s;
    overflow: hidden;
    margin-bottom: 3rem;
}

.imagen1:hover {
    transform: scale(1.05)
}

.des {
    width: 30%;
    margin-left: 0%;
    transition: 0, 1s;
    overflow: hidden;
}

.des:hover {
    transform: scale(1.1)
}

.fila {
    display: flex;
}

.contenedor {
    position: relative;
    text-align: center;
    color: white;
}

.textomedio {
    position: absolute;
    TOP: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1vw;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.hero h1 {
    color: rgb(212, 35, 35);
}

#igm {
    display: flex;
    align-items: center;
    justify-content: center;

}

.imagenfondo {
    width: 100%;
    margin: -10px;
}

.header1 {
    position: absolute;
    transform: translate(-0%, -200%);
}

.header2 {
    position: absolute;
    transform: translate(-0%, -280%);
}

.titulo1 {
    background: #8d8888;
    padding: auto;
    text-align: center;
    margin-bottom: 0%;
    margin-top: 2rem;
}

.borde {
    padding-left: 5%;
    padding-right: 5%;
}

.contacto {
    background-color: rgb(0, 0, 0);
    height: 15rem;
    text-align: center;
    padding-top: 0.5rem;
    box-shadow: inset 0px 5px #777777;
    margin-top: 0rem;
    margin-left: -10px;
    margin-right: -10px;
    color: white;
    padding-bottom: 6rem;
}

.fotoback {
    width: 2.5rem;
    float: left;
}

.contact {
    color: white;

}

.mantenimiento {
    color: white;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 5%;
    text-shadow: 2px 1px 2px black;
    font-size: x-large;
}

.contenedor2 {
    position: relative;
    text-align: center;
    color: white;

}

.textomedio2 {
    position: absolute;
    TOP: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 4px 3px 2px black;
}

iframe {
    margin: 0 auto;
    display: block;
}

.infodesc {
    font-size: larger;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgb(50, 50, 50);
    color: white;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-bottom: 50px;
}

.aboutespacio {
    padding: 2rem;
}

.sec {
    background-color: rgb(255, 255, 255);
    font-size: x-large;
    padding: 2rem;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(77, 77, 77), rgb(255, 255, 255), rgb(255, 255, 255));
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
    color: white;
}

.sec p {
    font-size: larger;
    font-weight: 59;
}

.imagen2 {
    float: right;
    overflow: hidden;
    position: relative;
}

.container-form {
    width: 100px;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, ifr);
    grid-gap: 20px;
    margin-top: -5px;
}

.info-form {
    text-align: left;
}

.container-form h2 {
    margin-bottom: 15px;
    font-size: 35px;
}

.container-form p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.container-form a {
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: rgb(254, 249, 249);
    font-weight: 700;
}

.container-form a i {
    color: #6458e6;
    margin-right: 10px;
}

.translation {
    position: absolute;
    z-index: 99;
    right: 25rem;
    padding: 1rem;
}

.menu1 {
    position: fixed;
    width: 100%;
    font-size: 20px;
    padding: auto;
    background-color: #000000;
}

.pre {
    color: rgb(232, 39, 39);
    margin-top: 4rem;
    margin-top: 2rem;
}

.do {
    background: #9ec0c0;
    padding: 5%;
    margin-top: 0%;
    text-emphasis: center;
    margin-bottom: 0%;
}

.do1 {
    text-align: center;

}

.diseño {
    width: 100%;
    min-height: 60vh;
    background: url(/img/windows-FV6Pma5U_98-unsplash\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 5%;
    padding: 60;
}

.quehacemos {
    width: 100%;
    min-height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 5%;
    padding: 60;

}

.tareas {
    background: #c9dada;
    padding: 2%;
    text-emphasis: center;
    margin-top: 0%;
    margin-bottom: 0%;
}


.contact {
    color: white;

}

.infoc {
    color: white;
    text-align: center;
    background: #000000;
    padding-bottom: 2rem;
}

.formulario {
    background: rgb(56, 56, 56);;
    text-align: center;
    padding-bottom: auto;
}

.form{
    background-color: rgb(56, 56, 56);
    color: white;
}